@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5 justify-content-start">
            <div class="col-lg-7">
                <div class="border-start border-5 border-success ps-5 mb-5">
                    <h1 class="display-5 text-uppercase text-white mb-0">Buy Office 365 today to receive preferential prices.</h1>
                </div>
                <p class="text-white mb-4">Microsoft 365 brings together premium Office apps like Word, Excel, and PowerPoint with 1 TB of OneDrive cloud storage, advanced security, and more, to help you get things done on any device.</p>
                <a href="" class="btn btn-success py-md-3 px-md-5 me-3">Shop Now</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="border-start border-5 border-success ps-5 mb-5" style="max-width: 600px;">
            <h2 class="display-5 text-uppercase mb-0">Our Products</h2>
        </div>
        <div class="owl-carousel product-carousel">

            @{
                if (@ViewBag.randomProduct != null)
                {
                    foreach (var prd in ViewBag.randomProduct)
                    {
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <div class="pb-5">
                                <div class="product-item position-relative bg-light d-flex flex-column text-center" style="height: 400px; position: relative;">
                                    <img class="img-fluid mb-4" style="height: 250px" src="~/WebStorage/Images/ProductImages/@(prd.Image)" alt="Product Image">
                                    <h6 class="text-uppercase">@(prd.ProductName)</h6>
                                    <h5 class="text-success mb-0" style="bottom: 25px; right: 0; left: 0; text-align: center; position: absolute">@(prd.GetFormattedPrice()) @(ViewBag.currencyUnit)</h5>
                                    <input type="hidden" name="productId" value="@(prd.ProductId)" />
                                    <input type="hidden" name="currentPage" value="/Home" />
                                    <div class="btn-action d-flex justify-content-center">
                                        <button type="submit" style="margin: 0px 5px" class="btn btn-success py-2 px-3"><i class="bi bi-cart"></i></button>
                                        <a style="margin: 0px 5px" class="btn btn-success py-2 px-3" href="/Product/Details/@(prd.ProductId)"><i class="bi bi-eye"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    }
                }
            }
        </div>
    </div>
</div>
<!-- Products End -->